<?xml version="1.0" encoding="utf-8"?>
<form>
  <fieldset name="general" label="COM_XDECAROANALYTICS_CONFIG_GENERAL">
    <field name="scheduled_batch" type="number" default="25" min="1" max="100" label="COM_XDECAROANALYTICS_CONFIG_SCHEDULED_BATCH" />
    <field name="snapshot_retention_days" type="number" default="730" min="30" max="3650" label="COM_XDECAROANALYTICS_CONFIG_RETENTION" />
  </fieldset>
</form>
